.idea/*
.gulp/*
node_modules/*
bower_components/*
wp-admin/*
wp-includes/*
wp-content/themes/twentyfifteen/*
wp-content/themes/twentyfourteen/*
wp-content/themes/twentysixteen/*
wp-content/themes/twentyseventeen/*
wp-content/themes/twentynineteen/*
wp-content/cache/*
wp-content/aiowps_backups/*
wp-content/languages/*
wp-content/webp-express/*
wp-content/plugins/*
wp-content/uploads/*
wp-content/themes/bov/css/*
wp-content/themes/bov/js/dist/*
wp-content/themes/bov/vendor/*